.webhooks-container {
    padding: 15px;
}

.webhooks-container h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.webhooks-result {
    margin-top: 20px;
    letter-spacing: 0.1em;
    color: #3f51b5;
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}