<div class="btoa-container">
    <h2>Binary-to-text encoding</h2>
    <p>
        A binary-to-text encoding is encoding of data in plain text. More precisely, 
        it is an encoding of binary data in a sequence of printable characters. 
        These encodings are necessary for transmission of data when the communication 
        channel does not allow binary data (such as email or NNTP) or is not 8-bit clean. 
        PGP documentation (RFC 4880) uses the term "ASCII armor" for binary-to-text encoding
        when referring to Base64.
    </p>
</div>
