/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%; 
    margin: 0;
    padding: 0;}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


app-root {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

mat-sidenav-container {
    flex: 1;
    height: 100%;
  }


mat-sidenav {
    width: 100px;
}

router-outlet {
  flex: 1;
}

.app-footer {
  background-color: #3f51b5;
  color: white;
  text-align: center;
  padding: 10px 0;
}

.app-footer a {
  color: #ffeb3b; /* Yellow color for better visibility */
  text-decoration: none;
}

.app-footer a:hover {
text-decoration: underline;
}